<html>
	<head>
		<title>Demo Socketio - Homepage</title>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="socket.io/socket.io.js"></script>

		<script src="./js/socket.js"></script>
		
	</head>

	<body>
		<h1>Demo Socketio</h1>

		<div>
			<button id="send">Send</button>
		</div>
	</body>	
</html>